@font-face{
 font-family:'icomoon';
 src:url("./fonts/icomoon.eot?yisc3l");
 src:url("./fonts/icomoon.eot?yisc3l#iefix") format("embedded-opentype"),
 url("./fonts/icomoon.woff2?yisc3l") format("woff2"),
 url("./fonts/icomoon.ttf?yisc3l") format("truetype"),
 url("./fonts/icomoon.woff?yisc3l") format("woff"),
 url("./fonts/icomoon.svg?yisc3l#icomoon") format("svg");
 }

*
    margin 0
    padding 0

a
 text-decoration none

.sleft
 float left
 border-right 1px solid #bddaf5
 width: 182px
 margin 6px 0 5px 12px

.sright
 float left
 margin 6px 0 5px 12px 

.finance-wrapper
 height 102px 
 border 1px solid #CAE0F3
 border-top 3px solid #9EC9EE
 overflow hidden
 width 388px

.st-item .detail .icon-num-2 
  color #DF4D42  

  .icon-num-3
  color: green;

.icon-num-2
    font-family 'icomoon' !important 

.icon-num-2::before
 content "\32\37\38\33\.\30\35"

.icon-num-3
  font-family 'icomoon' !important

.icon-num-3::before
 content "-\31\33\.\35\38"

 



