* {
  background-color: #8b0000;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #d56a00;
  box-shadow: 5px -5px 5px #a9a9a9;
}
.status {
  width: 600px;
  height: 50px;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}
#winner {
  color: #fff;
  font-size: 24px;
}
#start_game {
  width: 150px;
  height: 50px;
  align-content: center;
  border: none;
  outline: none;
  background-color: #ed4e6e;
  color: #fff;
  font-size: 2em;
  display: inline-block;
  border-radius: 1px;
  cursor: pointer;
}
#start_game:hover {
  background-color: #2c3e52;
}
#reset_game {
  width: 150px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #ed4e6e;
  color: #fff;
  font-size: 2em;
  display: inline-block;
  border-radius: 1px;
  cursor: pointer;
  margin-left: 30px;
}
#reset_game:hover {
  background-color: #2c3e52;
}
