* {
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.top span {
  line-height: 40px;
  color: black;
  font-size: 20px;
  font-family: 'Comic Sans MS';
  margin-left: 10px;
  margin-top: 5px;
}

.top .search img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 200px;
}

.top .more img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}

.content {
  line-height: 650px;
}

.content ul li {
  line-height: 82.15px;
  width: 100%;
  border-bottom: 1px solid rgb(160, 156, 156);
  display: flex;
  flex-direction: row;
}

.content ul li img {
  margin: 5px;
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

.footer {
  justify-content: space-between;
  padding: 5px 10px;
}

.footer ul {
  line-height: 80px;
  width: 100%;
  list-style: none;
}

.footer ul li {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  padding: 2px;
}

.footer ul li img {
  width: 35px;
  height: 35px;
  margin-top: 2px;
  margin-left: 20px;
}

.footer ul span {
  position: absolute;
  width: 80px;
  height: 40px;
  font-size: 16px;
  bottom: 23px;
  left: 23px;
  font-family: 'Comic Sans MS';
  color: black;
}
